.gemini-cache
.codex
.claude
node_modules/

firebase-debug.log
firestore-debug.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.env

explain_results.txt